.submit,
.success,
.danger {
  color: #fff;
  border: 3px solid #000000;
  /* width: 100%;  */
  position: relative;
  font-size: 1.125rem;
  padding: 0.4em 0.75em;
  border-radius: 0.25rem;
  box-shadow: 5px 5px 0px 0px #00000032;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit {
  background: var(--btn-submit-bg);
}

.success {
  background-color: var(--btn-success-bg);
  color: #000;
}

.danger {
  background-color: var(--btn-danger-bg);
}

.submit:hover,
.submit:focus,
.success:hover,
.success:focus,
.danger:hover,
.danger:focus,
.btn-default:focus,
.btn-default:hover {
  outline: none;
  transform: translate(-2.5px, -2.5px);
}

.submit:hover,
.submit:focus {
  background: var(--btn-submit-hover);
}

.success:hover,
.success:focus {
  background: var(--btn-success-hover);
}

.danger:hover,
.danger:focus {
  background-color: var(--btn-danger-hover);
}

.btn-default {
  border: 3px solid #000000;
  font-size: 1.125rem;
  padding: 0.2em 0.45em;
  border-radius: 0.25em;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  justify-content: center;
  background: var(--btn-default-bg);
}

.btn-default:hover,
.btn-default:focus {
  background: var(--btn-default-bg-hover);
}

.spinner {
  border: 2px solid rgba(0, 0, 0, 0);
  border-top: 2px solid black;
  border-radius: 100%;
}

.spinner {
  animation: rotate 1500ms infinite linear;
}
