:root {
	--btn-default-bg: #bae6fd;
}

@media (prefers-color-scheme: dark) {
	:root {
		--btn-default-bg: #1e40af;
		--btn-default-bg-hover: #2563eb;
	}
}

.submit, 
.success,
.danger {
    color: #fff;
    border: 3px solid #000000;
	/* width: 100%;  */
	position: relative; 
	font-size: 1.125rem; 
	padding: 0.4em 0.75em; 
	border-radius: 0.25rem; 
	box-shadow: 5px 5px 0px 0px #00000032; 
    font-weight: 600;
    cursor: pointer;
	display: flex;
	justify-content: center;
}

.submit {
	background: #1D4ED8;
}

.success {
	background-color: #5ad33c;
    color: #000;
}

.danger {
	background-color: #dc2626;
}

.submit:hover,
.submit:focus,
.success:hover,
.success:focus,
.danger:hover,
.danger:focus,
.btn-default:focus,
.btn-default:hover {
	outline: none;
    transform: translate(-2.5px, -2.5px);
}

.submit:hover,
.submit:focus {
	background: #1d4fd8e4;
}

.success:hover,
.success:focus {
    background: #5ad33cc7;
}

.danger:hover,
.danger:focus {
	background-color: #dc2626e2;
}

.btn-default {
    border: 3px solid #000000;
	font-size: 1.125rem; 
	padding: 0.2em 0.45em; 
	border-radius: 0.25em; 
    font-weight: 500;
    cursor: pointer;
	display: flex;
	justify-content: center;
	background: var(--btn-default-bg);
}

.btn-default:hover,
.btn-default:focus {
	background: var(--btn-default-bg-hover);
}

.spinner {
    border: 2px solid rgba(0, 0, 0, 0);
    border-top: 2px solid black;
    border-radius: 100%;
}
 
.spinner {
    animation: rotate 1500ms infinite linear;
}