.btn {
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit,
.success,
.danger {
  color: #fff;
  border: 3px solid #000000 !important;
  position: relative;
  padding: 0.4em 0.75em;
  border-radius: 0.25rem;
  box-shadow: 5px 5px 0px 0px #00000032;
}

.submit {
  background: var(--btn-submit-bg);
}

.success {
  background-color: var(--btn-success-bg);
  color: #000;
}

.danger {
  background-color: var(--btn-danger-bg);
}

.btn:hover {
  outline: none;
  transform: translate(-2.5px, -2.5px);
  opacity: 0.8;
}

.btn-default {
  border: 3px solid #000000;
  font-size: 1.125rem;
  padding: 0.2em 0.45em;
  border-radius: 0.25em;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  justify-content: center;
  background: var(--btn-default-bg);
}

.btn-default:hover,
.btn-default:focus {
  background: var(--btn-default-bg-hover);
}

.spinner {
  border: 2px solid rgba(0, 0, 0, 0);
  border-top: 2px solid black;
  border-radius: 100%;
}

.spinner {
  animation: rotate 1500ms infinite linear;
}

.theme-btn {
  position: relative;
  display: inline-flex;
  height: 1.75em;
  width: 3.5em;
  align-items: center;
  border-radius: calc(infinity * 1px);
  background: var(--theme-btn-bg);
}

.theme-toggle {
  display: inline-block;
  height: 1.5em;
  width: 1.5em;
  border-radius: calc(infinity * 1px);
  background: var(--theme-toggle-bg);
  margin: 3px;
}
