/* Root <main> element */
.main-parent {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  margin: 0 2rem 4rem 2rem;
}

.standard-container,
.users-container,
.tag-container {
  padding: 0.625em 1.25rem;
  border-radius: 5px;
  box-shadow: 5px 5px 0px 0px var(--form-shadow);
}

.standard-container,
.users-container {
  border: 3px solid #1d4ed8;
}

.users-wrapper {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.users-container {
  background: var(--form-background);
}

.main-title-wrapper,
.header-title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-title-wrapper {
  margin: 4rem 0 2rem 0;
}

.grid-sm {
  display: grid;
  gap: 0.625em;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.tag-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
}

.tag-container {
  border: 3px solid var(--yellow-border);
  background: var(--yellow-container);
}

.theme-wrapper {
  display: flex;
  align-items: center;
  fill: currentColor;
  gap: 0.625rem;
  transform: translateX(0.25rem);
}

.theme-wrapper > svg {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--theme-toggle-bg);
}

:root[data-theme="dark"] {
  .theme-wrapper > button > span {
    transform: translateX(1.6rem);
  }
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    .theme-wrapper > button > span {
      transform: translateX(1.75rem);
    }
  }
}

@media (max-width: 640px) {
  .main-parent {
    margin: 0 0.3rem 4rem 0.3rem;
  }
  .header-title-wrapper > div {
    visibility: hidden;
  }

  .main-title-wrapper {
    margin: 1rem 0 1rem 0;
  }

  .main-title-wrapper > div > h1 {
    font-size: var(--h2-size);
  }

  .tag-container {
    padding: 0.3em 0.625rem;
  }

  .tag-container > p {
    font-size: 0.9rem;
  }
}
