h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
  color: var(--text-std);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-size: var(--h1-size);
}

h2 {
  font-size: var(--h2-size);
}

h3 {
  font-size: var(--h3-size);
}

h4 {
  font-size: var(--h4-size);
}

h5 {
  font-size: var(--h5-size);
}

.link {
  font-weight: bold;
  color: var(--link);
}

ul {
  margin: var(--padding-sm) 0 var(--padding-sm) var(--padding-xl);
  list-style: square;
}

.link:hover,
.link:focus {
  cursor: pointer;
  color: var(--link-focus);
  transform: translate(-2.5px, -2.5px);
}

.form-error {
  font-weight: bold;
  margin-top: 0.3rem;
  font-size: var(--text-xs);
  color: var(--form-error-red);
}
