h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

.link {
    font-weight: bold;
    color: var(--link);
}

.link:hover,
.link:focus {
    cursor: pointer;
    color: var(--link-focus);
    transform: translate(-2.5px, -2.5px);
}

:root {
    --link: #a16207;
    --link-focus: #eab308;
}

@media (prefers-color-scheme: dark) {
    :root {
      --link: #facc15;
      --link-focus: #eab308;
    }
}