h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
  color: var(--text-std);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

.link {
  font-weight: bold;
  color: var(--link);
}

ul {
  margin: var(--padding-sm) 0 var(--padding-sm) var(--padding-xl);
  list-style: square;
}

.link:hover,
.link:focus {
  cursor: pointer;
  color: var(--link-focus);
  transform: translate(-2.5px, -2.5px);
}
