header, 
footer {
    padding: 0.75em;
    border-radius: 0.5em;   
    margin: 0.5em 0.25em;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

header, footer {
    background-color: #3B82F6;
}

footer > div > p,
footer >  p {
    font-size: 0.625rem;
}

@media (min-width: 640px) {
    footer {
      padding-left: 1.25rem; 
      padding-right: 1.25rem;
    }

    footer > p,
    footer > div > p,
    footer > div > Link {
        font-size: 0.625rem; 
    }
}
