form {
    display: flex;
    flex-direction: column;
    gap: 0.625em;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.625em;
}

.form-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form-input {
	border: 3px solid #000000;
	width: 100%; 
	position: relative; 
	padding: 0.4rem 0.7rem; 
	border-radius: 0.25rem; 
    background-color: var(--input-background);
    color: black;
}

.form-input:focus {
    background-color: var(--input-background-focus);
    outline: none;
}

/* This is our sm (in tailwind) breakpoint */
@media (max-width: 640px) {
    .form-grid {
        display: flex;
        flex-direction: column;
    }
}

:root {
    --form-background: #dbeafe;
    --textColour: #000;
    --foreground: #93C5FD;
    --boxBorder: #1D4ED8;
    --form-shadow: #E0E7FF;
    --input-background: #eae2e2;
    --input-background-focus: #fff;
}

@media (prefers-color-scheme: dark) {
    :root {
      --form-background: #3b82f6;
      --textColour: #ffffff;
      --foreground: #1D4ED8;
      --form-shadow: #0c0a09;
      --input-background: #fef9c3;
      --input-background-focus: #fde047;  
    }
}