form {
  display: flex;
  flex-direction: column;
  gap: 0.625em;
}

.form-input:disabled {
  background-color: #5f5f5f;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.625em;
}

.form-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-input {
  border: 3px solid #000000;
  width: 100%;
  position: relative;
  padding: 0.4rem 0.7rem;
  border-radius: 0.25rem;
  background-color: var(--input-background);
  color: black;
}

.form-input:focus {
  background-color: var(--input-background-focus);
  outline: none;
}

.upload-btn {
  display: block;
  flex: 1;
  height: 2.5rem;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  font-weight: 600;
  color: #1f2937;
  background-color: #cbd5e1;
  border: 2px solid #4b5563;
  border-radius: 0.375rem;
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  cursor: pointer;
  outline: none;
}

.img-upload-btn:hover {
  background-color: #dbeafe;
}

.img-upload-btn:focus-within {
  outline: none;
  box-shadow:
    0 0 0 2px white,
    0 0 0 4px #3b82f6;
}

/* This is our sm (in tailwind) breakpoint */
@media (max-width: 640px) {
  .form-grid {
    display: flex;
    flex-direction: column;
  }
}

input[type="checkbox"],
label {
  cursor: pointer;
}
