@import "tailwindcss";
@import "./variables.css";
@import "./article.css";
@import "./buttons.css";
@import "./containers.css";
@import "./footer.css";
@import "./fonts.css";
@import "./form.css";

* {
  font-family:
    "roboto",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

body {
  background-image: url("https://res.cloudinary.com/divlee1zx/image/upload/v1767160166/basic-rgb_txrpzm.png");
  background-repeat: no-repeat;
  background-position: left 90%;
  background-size: 30%;
  background-attachment: fixed;
  background-color: var(--background);
  color: var(--textColour);
  font-family: Arial, Helvetica, sans-serif;
  min-width: 320px;
}

@media (min-width: 700px) {
  body {
    background-size: contain;
  }
}

.container {
  display: flex;
  justify-content: center;
  background-color: var(--foreground);
}

.spinner {
  border: 2px solid rgba(0, 0, 0, 0);
  border-top: 2px solid black;
  border-radius: 100%;
}

.spinner {
  animation: rotate 1500ms infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
