:root {
  /* Spacing */
  --padding-xs: 0.25rem;
  --padding-sm: 0.625rem;
  --padding-md: 0.75rem;
  --padding-lg: 0.85rem;
  --padding-xl: 1rem;
  /* Colours */
  --background: #eff6ff;
  --textColour: #000;
  --foreground: #93c5fd;
  --form-background: rgb(219, 234, 254, 0.9);
  --form-shadow: #e0e7ff;
  --input-background: #eae2e2;
  --input-background-focus: #fff;
  --boxBorder: #1d4ed8;
  --link: #a16207;
  --link-focus: #eab308;
  --yellow-container: #fef9c3;
  --yellow-border: #eab308;
  --text-std: #000;
  /* Button colours */
  --btn-default-bg: #bae6fd;
  --btn-submit-bg: #1d4ed8;
  --btn-success-bg: #5ad33c;
  --btn-danger-bg: #dc2626;
  --theme-btn-bg: #93c5fd;
  --theme-toggle-bg: #fff;
}

:root[data-theme="dark"] {
  /* Colours */
  --background: #051e64;
  --textColour: #ffffff;
  --foreground: #1d4ed8;
  --link: #facc15;
  --link-focus: #eab308;
  --form-background: rgb(59, 130, 246, 0.9);
  --textColour: #ffffff;
  --foreground: #1d4ed8;
  --form-shadow: #0c0a09;
  --input-background: #fef9c3;
  --input-background-focus: #fde047;
  --yellow-container: #d97706;
  --yellow-border: #854d0e;
  --text-std: #fff;
  /* Button colours */
  --btn-default-bg: #1e40af;
  --btn-default-bg-hover: #2563eb;
  --theme-btn-bg: #d97706;
  --theme-toggle-bg: #fff;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    /* Colours */
    --background: #051e64;
    --textColour: #ffffff;
    --foreground: #1d4ed8;
    --link: #facc15;
    --link-focus: #eab308;
    --form-background: rgb(59, 130, 246, 0.9);
    --textColour: #ffffff;
    --foreground: #1d4ed8;
    --form-shadow: #0c0a09;
    --input-background: #fef9c3;
    --input-background-focus: #fde047;
    --yellow-container: #d97706;
    --yellow-border: #854d0e;
    --text-std: #fff;
    /* Button colours */
    --btn-default-bg: #1e40af;
    --btn-default-bg-hover: #2563eb;
    --theme-btn-bg: #d97706;
    --theme-toggle-bg: #fff;
  }
}
